body {
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
}

dl,dt,dd,img.figure
{
    color:#000000;
}

dl.figure
{
    margin:10px;
    padding:10px;
    border:1px solid #d3d3d3;
}

img.figure
{
    width:100%;
}

div.topnav
{
    display:none
}

div.header
{
    display:none;
}

div.sidebar
{
    display:none;
}

#footer
{
    display:none;
}

table.eqn {
    width:100%;
}

div.eqn
{
    margin:10px;
    margin-left:5%;
}