body
{
    font-size:12px;
    color:#000000;
    background-color:#F6F4F0;
    width:1100px;
    margin:auto;
    font-family:verdana,helvetica,arial,sans-serif;
}

#main
{
    text-align:left;
    width:850px;
    float:left;
    margin:7px;
    background-color:#ffffff;
}

#page
{
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    background-color:#ffffff;
}

/* for equations */
table.eqn
{
    width:100%;
    border-collapse:collapse;
    border:0;
}
th,td.eqn
{
    border:0;
}

div.eqn
{
    margin:10px;
    margin-left:5%;
    text-align:left;
    border:0;
}

div.eqnbr
{
    margin:10px;
    text-align:right;
    border:0;
    color:#000000;
}

dl,dt,dd,img.figure
{
    color:#000000;
}

dl.figure
{
    margin:10px;
    padding:10px;
    border:1px solid #d3d3d3;
}

img.figure
{
    width:100%;
}

/* for the navigation bar in the top line */
table.topnav
{
    border-collapse:collapse;
    border:0;
    margin-top:0px;
    margin-bottom:0px;
    font-size:120%;
}
th,td.topnav
{
	color:#555555;
	padding-top:3px;
	padding-bottom:3px;
    padding-left:5px;
	padding-right:5px;
    border:0;
}
div.topnav{
    background-color:#d3d3d3;
}
a.topnav:link,a.topnav:visited 
{
    color:#555555;
    text-decoration:none;
}
a.topnav:hover,a.topnav:active 
{
    color:#ff4800;
    text-decoration:none;
}

table.botnav
{
	color:#555555;
	border-collapse:collapse;
	border:0;
	margin:10px;
	font-size:120%;
	float:right
}
th,td.botnav
{
	padding-top:3px;
	padding-bottom:3px;
    padding-left:5px;
	padding-right:5px;
    border:0;
}
div.botnav{
	background-color:#d3d3d3;
}
a.botnav:link,a.botnav:visited 
{
	color:#555555;
	text-decoration:none;
}
a.botnav:hover,a.botnav:active 
{
	color:#ff4800;
	text-decoration:none;
}

a:link,a:visited 
{
    color:#000000;
}

a:hover,a:active 
{
    color:#ff4800;
}

p,td,ul{
    line-height:140%;
}

table,th,td,input,textarea{
    font-size:100%;
}

/* head line sizes and style */
h1 {font-size:240%;margin-top:0px;;margin-bottom:12px;font-weight:normal}
h2 {font-size:200%;margin-top:20px;margin-bottom:10px;font-weight:normal}
h3 {font-size:160%;margin-top:20px;margin-bottom:10px;font-weight:normal}
h4 {font-size:120%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6{
    background-color:transparent;
    color:#000000;
}

/* default for images */
img {
    border:0;
}

/* default for tables */
table
{
    border-collapse:collapse;
    margin-top:10px;
    margin-bottom:10px;
}
table,th,td
{
    border: 1px solid #909090;
}
td
{
    padding:3px;
}

/* footer */
#footercr
{
    padding-top:13px;
    color:#404040;
    clear:both;
}

#footerleft
{
    word-spacing:6px;
    font-size:80%;
    padding-right:12px;
    padding-top:19px;
    float:right;
    width:600px;
    text-align:right;
}

#footerlc
{
    float:left;
    width:200px;
    text-align:left;
    padding-left:3px;
    padding-top:11px;
}

#footer
{
    width:95%;
    margin:auto;
    color:#909090;
    font-size:90%;
    text-align:center;
}

/* horizontal line */
hr
{
    background-color:#d4d4d4;
    color:#d4d4d4;
    height:1px;
    border:0px;
    clear:both;
}

div.sidebar
{
    width:200px;
    float:left;
    margin-top:5px;
    margin-right:10px;
    margin-left:10px;
    padding-top:5px;
    background-color:#ffffff;
}

a.left1,a.left2,a.left3
{
    background-color:#F6F4F0;
    color:#000000;
    text-decoration:none;
    display:block;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:5px;
    border:1px solid #e5e5e5;
    margin-top:1px;
}

a.left1
{
    padding-left:3px;
    font-size:120%;
}

a.left2
{
    padding-left:18px;
    font-size:110%;
}

a.left3
{
    padding-left:33px;
    font-size:100%;
}

a.left1:link,a.left1:visited,a.left2:link,a.left2:visited,a.left3:link,a.left3:visited
{
    background-color:#F6F4F0;
}

a.left1:hover,a.left1:active,a.left2:hover,a.left2:active,a.left3:hover,a.left3:active
{
    background-color:#ffffff;
}

/* Code Styles */ 
pre 
{ 
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word;
	font-family: Courier, 'New Courier', monospace;
	font-size:120%;
	font-style:normal
} 

div.code 
{ 	
	margin:2%;
    text-align:left;
	border: 1px solid #d3d3d3;
	padding-left:18px;
} 

var
{
	font-family: Courier, 'New Courier', monospace;
	font-size:120%;
	font-style:normal
}
