<!DOCTYPE html>

<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<?php GetAuthor()?>
<?php GetFavIcon()?>
<?php GetKeywords()?>
<?php GetScreenCSS()?>
<?php GetPrintCSS()?>
<title><?php GetTitel()?></title>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: "left",
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  },
  TeX: {
	Macros: {
      intfunc: "{\\rm \\sqcap}",
	  sgn: "{\\rm sgn}",
      vc: ["{\\mathbf{#1}}",1],
      d: ["{\\mathrm{d}{#1}}", 1]
    }
  }
});
</script>
<!--<script type="text/javascript" src="mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
<div class="header">
<?php GetHeaderImage()?>
</div>
<div class="topnav"  style="overflow:auto">
<?php GetTopLinks()?>
</div>
<div style="clear:both"></div>
<div id="page"><br>
<div class="sidebar"><?php GetSideLinks()?></div>
<div id="main"><?php GetContent()?></div>
<div style="clear:both"></div>
<div id="footer">						
<br>
<hr style="height:2px">
<div id="footerlc"><?php LastUpdate()?></div>
<div id="footerleft"><?php GetNavLinks()?></div>
<div id="footercr"><?php GetCopyright()?></div>
</div>
</div>


</body>
</html>
